.headerCus{
    background: #76c7c0;
    height: 70px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 14px;


}
a {
    color: #ffffff;
    text-decoration: none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #62a29e;
}

.jumroCustom{
    background-color: #7f8c8c;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}
.headingWaviq{

    background-color: #e2534b;
    display:inline;
    font-weight: 800;
}
.headingColor{
    color: white;
}
.boxDalemJumrotun{
    margin-top: 30px;
    padding: 10px;
    background-color: #3f4646;

}

.kotakParent{
    background: #f3f3f3;
}
.garis{
    padding: 3px;
    background-color: #e2534b;
}

.kotak2{
    background-color: #ececec;
}
.buttonView{
    padding: 15px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
}
.boxKotak1{
    text-align: center;
    margin-top:30px;
    background-color: #ffffff;
    padding-top: 50px;
    margin-right: 10px;
}
.boxKotak2{
    text-align: center;
    margin-top:30px;
    background-color: #f8f8f8;
    padding-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
}
.jempolLogo{
    color: #e2534b;
    font-size: 60px;
}
.jempolLogo2{
    color: #62bdbd;
    font-size: 60px;
}

.btnReadMore{
    padding: 15px;
}
.btnReadMoreBlue{
    padding: 15px;
    background: #76c7c0;
    border-color: #76c7c0;
    color: white;
}

.btnReadMoreBlue:hover, .btnReadMoreBlue:focus, .btnReadMoreBlue:active, .btnReadMoreBlue.active, .open>.dropdown-toggle.btnReadMoreBlue {
    color: #fff;
    background-color: #4bc8bd;
    border-color: #4bc8bd; /*set the color you want here*/
}
